/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #2a3d66; /* Azul moderno */
}

button {
  background-color: #0066cc; /* Azul pastel */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #005bb5;
}

input[type="text"], input[type="date"], input[type="email"], input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ddd;
}

form {
  margin-bottom: 20px;
}

/* Sección del Administrador */
#adminLogin {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#appContainer {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#generateImageBtn {
  background-color: #d4af37; /* Dorado */
}

#generateImageBtn:hover {
  background-color: #c5942f;
}

/* Sección para los músicos invitados */
#ministriesListGuest, #ministriesListAdmin {
  margin-top: 20px;
}

#logoutBtn {
  background-color: #ff6347; /* Rojo para salir */
  margin-top: 20px;
}

#logoutBtn:hover {
  background-color: #e53e36;
}

